<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hi</title>
  </head>
  <body>
    <h1>Movies</h1>
    <label for="movietitle">Enter a Movie Title:</label>
    <input id="movie-title" type="text" name="movietitle" value="">
    <br>
    <br>
    <img src="" alt="">
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./javascripts/app.js">

  </script>
</html>
